body{
    font-family: "Helvetica Neue",
      Arial,
      "Hiragino Kaku Gothic ProN",
      "Hiragino Sans",
      Meiryo,
      sans-serif;
      display: flex;
      flex-flow: column;
      min-height: 100vh;
      margin: 0;
  }

/*メイン*/
main{
    margin-top: 130px;
    height: 100%;
    flex: 1;
}

/*ヘッダー*/
header{
    position: fixed;
    top: 0; 
    background-color: #cc8552;
    width: 100%;
    padding: 0; 
}
.header-logo{
    padding: 20px;
    float: left;
}
.header-logo a{
    font-size: 50px;
    border-bottom: none;
    color: white;
}
.header-login-menu{
    float: right;
    padding: 10px;
}

/*フッター*/
footer{
    background-color: #cc8552;
    width: 100%;
}
.footer{
    text-align: center;
}
.footer h2{
    color: white;
}

/*フラッシュメッセージ*/
.Notification{
    background-color: #ffff00;
    color: black;
    text-align: center;
    margin-top: 0;
    font-size: 20px;
}
/* ログイン画面 */
.login-form{
    padding: 30px;
    margin: 0 35%;
    border: double 5px black;
    text-align: center;
}
.login-title{
    text-align: center;
    margin: 20px;
}
.login-title h2{
    font-size: 30px;
}
.field{
    text-align: left;
    font-size: 20px;
}
.field input{
    width: 100%;
    margin-bottom: 15px;
    font-size: 20px;
    padding: 5px;
}
.login-checkbox{
    font-size: 15px;
    text-align: left;
    margin-bottom: 15px;
}
.actions input{
    font-size: 20px;
    margin: 10px;
    padding: 5px;
    width: 70%;
    border: none;
    border-radius: 5px;
    background-color: #f5c193;
    color: white;
    transition: all .2s;
    cursor: pointer;
}
.actions input:hover{
    opacity: 0.6;
}
/*新規登録画面*/
.signin-form{
    padding: 30px;
    margin: 0 35%;
    border: double 5px black;
    text-align: center;
}
/*レビュー登録画面*/
.review-title{
    text-align: center;
}
.review-alert {
    color:#262626; 
    text-align: center;
    border-top:2px solid #990000;
    border-bottom:2px solid #990000;
    padding:12px; font-weight:850;
    margin: 0 5%;
    li{
        list-style:none;
    }
  }
.review-form{
    margin: 10px 20%;
    border: #cc8552 1px solid;
    border-collapse: collapse;
    border-spacing: 0;
    
    th,td{
        padding: 10px;
    }
    th{
        width: 20%;
        text-align: left;
    }
    .isbn-form{
        padding-bottom: 5px;
         button{
            cursor: pointer;
         }
    }
    .isbn-info{
        padding: 0px 10px;
    }
    .isbn-detail{
        padding-top: 5px;
    }
    tr:nth-child(odd){
        background-color: #eee;
      }
    tr:nth-child(2){
        background-color: #eee;
        padding: 0px;
    }
    
    summary{
        cursor: pointer;
    }
    input[type="text"]{
        width: 90%;
    }
    textarea{
        width: 90%;
        resize: none;
        height: 60px;
    }
    .required::after {
        content: "必須";
        color: #ffffff;
        background: #cc0000;
        font-size: 0.8em;
        padding: 0.3em;
        border-radius: 0.5em;
        margin-left:0.3em;
        }
}
.review-submit{
    text-align: center;
    margin: 20px;
    
    input{
        border: none;
        border-radius: 5px;
        font-size: 24px;
        color: white;
        background-color:  #f5c193;
        padding: 5px 20px;
        transition: all .2s;
        cursor: pointer;
    }
    input:hover{
        opacity: 0.6;
    }
}

  
  
