<% @results.each do |review| %>
  <div class="review-box">
    <%= link_to "#{review.id}" do %>
      <%= review.title %>
      <%= review.author %>
      <%= review.user.name %>
    <% end %>
  </div>
<% end %>
